.add-task-container {
  width: calc(100% - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  position: absolute;
  bottom: 0;

  .add-task {
    @apply w-full pb-6;

    background: var(--asana-dark);
    border: 1px solid var(--asana-border);

    @include from(md) {
      @apply mr-4 pb-0;
      width: #{rem(500px)};
    }

    .header {
      border-bottom: 1px solid var(--asana-border);
    }

    .input-task {
      background: none;
      width: 100%;
      outline: none;

      &::placeholder {
        font-size: var(--small-font-size);
        font-weight: 600;
        color: var(--grey-white);
        opacity: 0.6;
      }
    }
  }
}
