.button {
  padding: 0.5rem 1rem;
  background: var(--blue-500);
  border-radius: 0.5rem;
  transition: all 0.25s;

  &:hover {
    background: var(--blue-600);
  }

  &.ghost {
    border: 1px solid var(--grey-border);
    background: none;
    border-radius: 0.5rem;
    opacity: 0.6;
    font-weight: 400;
    transition: all 0.25s;
    padding: 0.25rem 1rem;

    &:hover {
      background: var(--grey-white);
      color: var(--asana-dark);
    }
  }

  &-reset {
    display: block;
    margin: auto;
    width: 140px;
    text-align: center;
    margin-top: 2rem;
  }
}
