.sidebar {
  @apply hidden lg:block lg:fixed;
  background: var(--asana-light-dark);
  height: 100vh;
  width: var(--sidebar-width);


  z-index: 100;

  .desktop-header {
    .content {
      .bars3-icon {
        color: var(--grey-white);
      }
    }
  }

  .desktop-nav {
    .list {
      position: relative;

      .item:not(:first-of-type) {
        margin-top: 0.5rem;
      }

      .link {
        color: var(--grey-bg);
        font-size: var(--small-font-size);
        opacity: 0.8;
        .homeicon {
          color: var(--grey-border);
        }
      }
    }

    .active {
      background: var(--asana-border);
    }
  }
}
