.topbar {
  width: 100%;

  @include from(lg) {
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
  }
  height: 4.5rem;
  .h4 {
    color: var(--grey-white);
  }

  .search-input {
    background: url("../../../public/images/Search.svg") no-repeat center left
      8px;
    color: var(--grey-white);
    font-size: var(--smaller-font-size);
    border: 1px solid var(--grey-border);
    border-radius: 1.5rem;
    width: 2rem;
    height: 2rem;
    opacity: 0.6;
    outline: none;
    transition: all 0.25s;

    @include from(lg) {
      width: 10rem;
    }

    &:focus {
      opacity: 0.9;
      border: 2px solid var(--blue-200);
      width: 10rem;

      @include from(lg) {
        width: 25rem;
      }
    }

    &::placeholder {
      font-size: var(--smaller-font-size);
      color: var(--grey-white);
    }
  }

  .plus-button {
    color: var(--grey-white);
    background: var(--asana-red);
    transition: all 0.25s;

    &:hover {
      background: #df6064;
    }
  }

  .profile {
    user-select: none;
    display: none;
    &-text {
      color: var(--grey-white);
      font-size: var(--smaller-font-size);
      font-weight: 600;
    }

    border: 1px solid var(--grey-text);

    @include from(lg) {
      display: flex;
    }
  }
}
