*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--asana-darkest);
}
#__next {
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  @apply mx-auto px-4 md:px-0;

  @include from(md) {
    width: calc(100% - 9rem);
  }

  @include from(lg) {
    //1230px
    width: 76.875rem;
  }
}

:root {
  --padding-section: 3.8125rem 0rem;

  @include from(md) {
    --padding-section: 5rem 0rem;
  }

  --sidebar-width: 0rem;

  @include from(lg) {
    --sidebar-width: 15rem;
  }
}

.main {
  @apply px-4  lg:px-0;
}
