// colors
:root {
  /* red */
  --red-50: #fff1f2;
  --red-100: #fbd5dc;
  --red-200: #f6acb9;
  --red-300: #f28799;
  --red-400: #ed5e76;
  --red-500: #e93553;
  --red-600: #cf1736;
  --red-700: #9c1128;
  --red-800: #3c060f;
  --red-900: #200308;

  /* green */
  --green-50: #ebfaf4;
  --green-100: #cef3e7;
  --green-200: #a1e8d0;
  --green-300: #77dfbd;
  --green-400: #5ed4ad;
  --green-500: #34cb99;
  --green-600: #2aa27a;
  --green-700: #1f7a5c;
  --green-800: #15513d;
  --green-900: #0a291f;

  /* blue */
  --blue-50: #ebf9ff;
  --blue-100: #ceedfc;
  --blue-200: #9adcfe;
  --blue-300: #6bcafa;
  --blue-400: #39b9f9;
  --blue-500: #0da6f2;
  --blue-600: #0a85c2;
  --blue-700: #086391;
  --blue-800: #054261;
  --blue-900: #022130;

  /* yellow */
  --yellow-50: #fff9f0;
  --yellow-100: #fff6e5;
  --yellow-200: #ffeac6;
  --yellow-300: #ffdca0;
  --yellow-400: #ffce79;
  --yellow-500: #ffb940;
  --yellow-600: #e6a73a;
  --yellow-700: #b3822d;
  --yellow-800: #805d20;
  --yellow-900: #4c3000;

  /* grey */
  --grey-black: #000000;
  --grey-title: #19272e;
  --grey-text: #415058;
  --grey-light: #5a6d77;
  --grey-lighter: #6f8590;
  --grey-border: #e0e6eb;
  --grey-bg-alt: #f9fafb;
  --grey-bg: #fbfdfe;
  --grey-white: #ffffff;

  /* asana colors */
  --asana-border: #424244;
  --asana-light-dark: #2e2e30;
  --asana-dark: #2a2b2d;
  --asana-darker: #252628;
  --asana-darkest: #1e1f21;
  --asana-red: #f06a6a;
}
