//We create the map for our breakpoints
$breakpoints: (
  sm: 360px,
  md: 640px,
  lg: 1024px,
  xl: 1800px,
);

//We create our mixin for responsive design (mobile first)
@mixin from($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
