//convert pixeles to rem
@function rem($px) {
  @return ($px / 16px) * 1rem;
}

//We import the fonts from google fonts
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

// CSS variables for typography
:root {
  // Font families
  --heading-font: "Poppins", sans-serif;
  --text-font: "Manrope", sans-serif;

  // Font sizes
  --bigger-font-size: #{rem(44px)};
  --h1-font-size: #{rem(36px)};
  --h2-font-size: #{rem(32px)};
  --h3-font-size: #{rem(28px)};
  --h4-font-size: #{rem(20px)};
  --banner-subtitle: #{rem(18px)};
  --normal-font-size: #{rem(16px)};
  --small-font-size: #{rem(14px)};
  --smaller-font-size: #{rem(12px)};
  --bigger-line-height: 150%;
  --heading-line-height: 150%;
  --text-line-height: 200%;

  @include from(md) {
    --bigger-font-size: #{rem(52px)};
    --h1-font-size: #{rem(44px)};
    --h2-font-size: #{rem(36px)};
    --h3-font-size: #{rem(32px)};
    --h4-font-size: #{rem(24px)};
    --banner-subtitle: #{rem(20px)};
    --normal-font-size: #{rem(18px)};
    --small-font-size: #{rem(16px)};
    --smaller-font-size: #{rem(14px)};
  }
}

// Font sizes
$fontSizes: (
  biggest: var(--bigger-font-size),
  heading1: var(--h1-font-size),
  heading2: var(--h2-font-size),
  heading3: var(--h3-font-size),
  heading4: var(--h4-font-size),
  bannersub: var(--banner-subtitle),
  normal: var(--normal-font-size),
  small: var(--small-font-size),
  smaller: var(--smaller-font-size),
);

// Get font size from map
@function fontSize($size) {
  @if map-has-key($fontSizes, $size) {
    @return map-get($fontSizes, $size);
  } @else {
    @error '$size is not valid, valid values are title1, title2, title3, normal, small, smaller';
  }
}

// Mixins for bigger heading styles
@mixin biggest-font() {
  line-height: var(--bigger-line-height);
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--grey-title);
}

// Mixins for heading styles
@mixin heading-font() {
  line-height: var(--heading-line-height);
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--grey-white);
}

//Mixins for text styles
@mixin text-font() {
  line-height: var(--text-line-height);
  font-family: var(--text-font);
  font-weight: 400;
  color: var(--grey-white);
}

@mixin biggest {
  @include biggest-font();
  font-size: var(--bigger-font-size);
}

@mixin h1 {
  @include heading-font();
  font-size: var(--h1-font-size);
}

@mixin h2 {
  @include heading-font();
  font-size: var(--h2-font-size);
}

@mixin h3 {
  @include heading-font;

  font-size: var(--h3-font-size);
}

@mixin h4 {
  @include heading-font;
  font-size: var(--h4-font-size);
}

@mixin normal {
  @include text-font;
  font-size: var(--normal-font-size);
}

@mixin small {
  @include text-font;
  font-size: var(--small-font-size);
}

@mixin smaller {
  @include text-font;
  font-size: var(--smaller-font-size);
}

//Assign font styles
.biggest {
  @include biggest;
}

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

.banner-subtitle {
  @include normal;
  font-size: var(--banner-subtitle);
}

.normal {
  @include normal;
}

.normal-medium {
  @include normal;
  font-weight: 500;
}

.normal-semibold {
  @include normal;
  font-weight: 600;
}

.small {
  @include small;
}

.small-semibold {
  @include small;
  font-weight: 600;
}

.smaller {
  @include smaller;
}

.smaller-semibold {
  @include smaller;
  font-weight: 600;
}

// Default text styles
body {
  @include normal;
}
