.todo-item {
  border-bottom: 1px solid var(--asana-border);
  width: 100%;
  font-family: var();

  .check-icon {
    color: var(--grey-lighter);

    &:hover {
      color: var(--green-500);
    }
  }

  .delete-icon {
    color: var(--grey-lighter);
    opacity: 0;
    transition: all 0.1s;

    &:hover {
      color: var(--red-500);
    }
  }

  &:hover {
    .delete-icon {
      opacity: 1;
    }
  }
}
