.todo-table {
  width: 100%;

  @include from(lg){
    width: #{rem(700px)};
  }
  position: relative;
  margin: auto;
  background: var(--asana-dark);
  border: 1px solid var(--asana-border);

  .header {
    border-bottom: 1px solid var(--asana-border);
  }
}
